# Environment variables
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Editor / OS files
.vscode/
.DS_Store

# Flask
instance/

# Archivos de logs
*.log
