<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Crear Cuenta</title>
</head>

<body>

    <h1>Crear Cuenta</h1>

    <form action="{{ url_for('auth.register') }}" method="POST">

        <label>Nombre</label><br>
        <input type="text" name="nombre" required><br><br>

        <label>Correo</label><br>
        <input type="email" name="email" required><br><br>

        <label>Contraseña</label><br>
        <input type="password" name="password" required><br><br>

        <label>Región</label><br>

        <select name="region">
            <option value="LATAM">LATAM</option>
            <option value="USA">USA</option>
            <option value="EUROPA">EUROPA</option>
        </select>

        <br><br>

        <button type="submit">
            Crear cuenta
        </button>

    </form>

    <br>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}

    <a href="{{ url_for('auth.login') }}">
        Ya tengo cuenta
    </a>

</body>

</html>